#bg-pic {
    min-height: 100vh;
    background-image: url("../images/transparent-img.jpg");
    background-size: cover;
}

#activities-background {
    background-image: url("../images/andres-molina-kcxWpnpIXiQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.navbar {
    background-color: transparent;
}

.title-custom {
    margin-top: 20vh;
}

.title {
    font-size: 4rem;
    color: rgb(69, 69, 69);
}

.bulma-overlay-mixin {
    background-color: white;
    border-radius: 0.25em;
    color: white;
    opacity: 0.9;
    padding: 2em;

} 

.challenge {
    min-height: 70vh;

}

.custom-column{
    background-color: white;
}

.text {
    width: 60ch;
}

/* Cube animation on "take me to the challenge" button */
.cube-up {
    position: relative;
    transform-style: preserve-3d;
    animation-name: rotate-up;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; 
}

.cube-down {
    position: relative;
    transform-style: preserve-3d;
    animation-name: rotate-down;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; 
}

@keyframes rotate-up {
    0%{
        transform: rotate3d(0,0,0,0);
    }
    100%{
        transform: rotate3d(1,0,0,90deg);
    }
}

@keyframes rotate-down {
    0%{
        transform: rotate3d(1,0,0,90deg);
    }
    100%{
        transform: rotate3d(0,0,0,0);
    }
}

.box{
    position: absolute;
    padding: 10px;
    width: 300px;
    height: 40px;
}

.box-front {
    transform: translateX(-150px) translateY(-20px) translateZ(20px);
    background: rgb(72, 72, 72);
    border: 2px solid rgb(72, 72, 72)
}

.box-bottom {
    transform: translateX(-150px) rotateX(90deg);
    background:rgb(206, 213, 188)
}

#generate-idea {
    background-color: rgb(206, 213, 188);
}

.saved-activity{
    line-height: 1.6rem;
    opacity: .9;

}

.quoteContainer{
    position : relative
}

.quoteAnimation {
    position : relative
}
/* BEGIN JOURNAL PAGE STYLES */
#journal-background {
    min-height: 100vh;
    background-image: url("../images/journaling.jpg");
    background-size: cover;
}

.tile-custom {
    background-color: rgba(201, 211, 197, 0.74);
}


.overlay {
    margin-top: 15%;
    padding: 30px;
}

.hide {
    display: none;
}

/* Added hovering effect on the cards here*/

.custom-column:hover{
    display: block;
    opacity: 0.5;
}

p{
    font-family:'Segoe UI';
    background-color: rgba(255, 255, 255, 0.74);

}
