/* Shared between pages */
.navbar {
    background-color: transparent;
}

.navbar-item img {
    max-height: 50px;
    /* margin-left: 10px; */
}

.bulma-overlay-mixin {
    background-color: white;
    border-radius: 0.25em;
    color: white;
    opacity: 0.9;
    padding: 2em;
} 

.overlay {
    margin-top: 10%;
    padding: 30px;
}

.hide {
    display: none;
}

p {
    font-family:'Segoe UI';
    /* background-color: rgba(255, 255, 255, 0.74); */
    font-size: 1.1rem;
}

.border {
    border: 1px solid rgba(255, 255, 255, 0.74);
}


/* Home page */
#bg-pic {
    min-height: 100vh;
    background-image: url("../images/transparent-img.jpg");
    background-size: cover;
}

.title-custom {
    margin: 30px;
}

.title {
    color: rgb(69, 69, 69);
    font-size: 2rem;
}

.challenge {
    min-height: 70vh; 
    padding: 100px 0;
}

.sans-serif {
    font-family: sans-serif;
}

.icon {
    font-size: .9rem;
    color:rgb(177, 177, 177);
}

.custom-column:hover {
    display: block;
    opacity: 0.5;
}

#quoteContainer{
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
    min-height: 200px;
}

.quoteAnimation {
    position: relative;
}

@media screen and (min-width: 769px) {
    .title-custom {
        margin-top: 20vh;
    }

    .title {
        font-size: 4rem;
    }

    #text {
        width: 50ch;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .text {
        width: 60ch;
    }
}

/* Cube animation on "take me to the challenge" button */
.cube-up {
    position: relative;
    transform-style: preserve-3d;
    animation-name: rotate-up;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; 
}

.cube-down {
    position: relative;
    transform-style: preserve-3d;
    animation-name: rotate-down;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; 
}

@keyframes rotate-up {
    0%{
        transform: rotate3d(0,0,0,0);
    }
    100%{
        transform: rotate3d(1,0,0,90deg);
    }
}

@keyframes rotate-down {
    0%{
        transform: rotate3d(1,0,0,90deg);
    }
    100%{
        transform: rotate3d(0,0,0,0);
    }
}

.box{
    position: absolute;
    padding: 10px;
    width: 230px;
    height: 40px;
}

.box-front {
    transform: translateX(-115px) translateY(-20px) translateZ(20px);
    background: rgb(72, 72, 72);
    border: 2px solid rgb(72, 72, 72)
}

.box-bottom {
    transform: translateX(-115px) rotateX(90deg);
    background:rgb(206, 213, 188)
}

/* Activities page */
#activities-background {
    background-image: url("../images/andres-molina-kcxWpnpIXiQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#generate-idea {
    background-color: rgb(206, 213, 188);
}

.saved-activity{
    line-height: 1.6rem;
    opacity: .9;

    position: relative;
}

.delete-custom {
    position: absolute;
    left: 100%;
    bottom: 100%;
}

.bulma-delete-mixin {
    position: absolute;
    left: 100%;
    bottom: 100%;
  }

.quoteContainer{
    position : relative
}

/* Journal page */
#journal-background {
    min-height: 100vh;
    background-image: url("../images/journaling.jpg");
    background-size: cover;
    background-position: 75% 0%;
}

.tile-custom {
    background-color: rgba(201, 211, 197, 0.74);
}